html, body {
    font-family: Schibsted_Grotesk, sans-serif;
    color: #FFFFFF
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(252,176,69,1) 100%);
}

.todo__app{
    background-color: #FFFFFF;
    width: 540px;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 3rem;
}

.todo__header {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.main__title {
    width: auto;
    color: rgba(5.81, 5.02, 14.88, 0.40);
    font-size: 35px;
    font-weight: 400; 
    line-height: 30px;
    margin-right: 20px;
}

.todo__header img {
    width: 30px;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}

.row input {
    flex: 1;
    background: transparent;
    padding: 10px;
    font-weight: 14px;
}

.row button {
    padding: 16px 50px;
    border-radius: 40px;
    background: #CDA5D5;
    color: #06050F;
    font-size: 15px;
    cursor: pointer;
}

ul li {
    color: #06050F;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    cursor: pointer;
    position: relative;
}

ul li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(../img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked {
    color: #a7a7a7;
    text-decoration: line-through;
}

ul li.checked::before {
    background-image: url(../img/checked.png);
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color:#a7a7a7;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}

ul li span:hover {
    background-color: #edeef0;
}